<style id="antiClickjack">
body {
	display: none !important;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>

<div style="margin: 10px">
	<div class="modal-header">
		<span style="font-weight: bold; font-size: 20px"> Code Set API keys
			management </span> <span class="pull-right">
			<button class="btn btn-xs btn-primary" ng-click="cancel()">
				<i class="fa fa-times"></i>
			</button>
		</span>
	</div>
	<div class="modal-body" style="padding: 10px 0px 0px 0px">
		<div class="row">
			<div class="col-md-12" style="min-height: 350px">

				<table class="table table-striped table-condensed table-bordered">
					<thead class="">
						<th style="max-width: 75px">Binding identifier</th>
						<th>URL</th>
						<th>API KEY</th>
					</thead>
					<tbody ng-repeat="testStep in testSteps | orderBy:'name'">
						<tr>
							<td colspan="3" style="font-weight: bold">{{ testStep.name }}</td>
						</tr>
						<tr ng-repeat="apiKey in testStep.testContext.apikeys | orderBy:'bindingIdentifier	'">

							<td>{{ apiKey.bindingIdentifier }}</td>
							<td>{{ apiKey.bindingUrl}}</td>
							<td>							
								<input ng-if="!apiKey.hasBindingKey || (apiKey.hasBindingKey && apiKey.editBindingKey)" type="text" ng-model="apiKey.bindingKey" style="width: 100%" ng-change="apiKey.editBindingKey = true"> 
								<span ng-if="apiKey.hasBindingKey && !apiKey.editBindingKey">***<span ng-click="apiKey.editBindingKey = true" class="point fa fa-pencil"></span></span>
								<span ng-if="apiKey.hasBindingKey && apiKey.editBindingKey" ng-click="apiKey.editBindingKey = false" title="Revert changes" class="point fa fa-repeat"></span>
							</td>
						</tr>
				</tbody></table>

			</div>
		</div>
	</div>
	<div class="modal-footer">

		<div class="pull-right">
			<button type="button" class="btn btn-primary btn-md" ng-click="save()">
				<i class="fa fa-check"></i>Save and close
			</button>
			<button type="button" class="btn btn-primary btn-md" ng-click="cancel()">
				<i class="fa fa-check"></i>Cancel
			</button>
		</div>

	</div>

</div>