<style id="antiClickjack">
  body {
    display: none !important;
  }
</style>
<script type="text/javascript">
  if (self === top) {
    var antiClickjack = document.getElementById("antiClickjack");
    antiClickjack.parentNode.removeChild(antiClickjack);
  } else {
    top.location = self.location;
  }
</script>
<div class="container" ng-controller="NotificationsCtrl" ng-init="">
  <div class="row">
    <div class="col-md-12">
      <!--Body content-->
      <h3 class="page-header">
        <div msg key="manage.notifications.createnotification"></div>
      </h3>
      <div ng-form name="newNotificationForm" class="form-horizontal" novalidate>
        <div class="control-group form-group">
          <label class="control-label col-sm-2" for="notificationText">
            <div msg key="manage.notifications.notificationtext"></div>
          </label>
          <div class="controls col-sm-7">
            <textarea type="text" class="form-control immediate-help account-input" name="notificationText"
              id="inputCurrentPassword" ng-model="mainNot.message" ng-minlength="1" required></textarea>
            <div class="input-help">
              <h4>
                <div msg key="manage.notifications.notificationtext.error"></div>
              </h4>
            </div>
          </div>
        </div>       
        <div class='form-group control-group'>
            <div class='col-md-offset-2 col-sm-7'>
              <table class="table table-striped table-condensed table-bordered">
                <thead class="tbl-header">
                  <th>Options</th>
                  <th>Setting</th>
                </thead>
                <tbody>
                  <tr>
                    <td>Allow users to dismiss notification.</td>
                    <td><input ng-cloak ng-model="mainNot.dismissable" ng-true-value="true"
                        ng-false-value="false" type="checkbox"></td>
                  </tr>
                  <tr>
                    <td>Enable notification.</td>
                    <td><input ng-cloak ng-model="mainNot.active" ng-true-value="true"
                        ng-false-value="false" type="checkbox"></td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        <div class="control-group form-group">
          <div class="col-md-offset-2 col-sm-7">
            <button class="btn btn-primary " ng-click="newNotification()" >
              <div msg key="manage.notifications.newNotificationButton"></div>
            </button>
            <button class="btn btn-primary pull-right" ng-click="saveNotification(mainNot)" ng-disabled="!newNotificationForm.$valid">
              <div msg key="manage.notifications.saveNotificationButton"></div>
            </button>
          </div>
          
        </div>
      </div>

      <h3 class="page-header">
        <div msg key="manage.nofifications.notificationList"></div>
      </h3>
      <div class='col-md-offset-2 col-sm-7'>
              <table class="table table-condensed table-bordered">
                <thead class="tbl-header">
                  <th>Message</th>                  
                  <th>is dismissable?</th>
                  <th>is active?</th>
                  <th>Update Date</th>
                </thead>
                <tbody>
                  <tr ng-class="{notificationrowselected: mainNot === not}" class="notificationrow" ng-repeat="not in notificationList | orderBy :'-date'" ng-click="selectNotification(not)">
                    <td>{{not.message}}</td>                    
                    <td>{{not.dismissable}}</td>
                    <td>{{not.active}}</td>
                    <td>{{not.date | date:'MM/dd/yyyy HH:mm:ss'}}</td>
                  </tr>                  
                </tbody>
              </table>

            </div>
    </div>
  </div>


</div>