
<script type="text/ng-template" id="PastTestStepConsole.html">
    <div class="console-dlg">
        <button title="Close" type="button" class="pull-right btn btn-xs btn-default"
                ng-click="close()">
            <i class="fa fa-times"></i>
        </button>
        <textarea class="well console-dlg console-content" wrap="off"
                   rows="10"
                  disabled
                  ng-model="log"></textarea>

    </div>
</script>

<script type="text/ng-template" id="CurrentTestStepConsole.html">
    <div class="console-dlg">
        <button title="Close" type="button" class="pull-right btn btn-xs btn-default"
                ng-click="close()">
            <i class="fa fa-times"></i>
        </button>
        <textarea class="well console-dlg console-content" wrap="off"
                   rows="10"
                  disabled
                  ng-model="logger.content"></textarea>

    </div>
</script>




